body {
    display: inline-block;
    background:url("Unplugged.png") center/cover no-repeat;
    height: 200px;
    padding-top:500px;
    overflow: hidden;
    
  }
  
  h1 {
    margin:auto;
    position:relative; bottom:500px;
    padding-bottom: 50px;
    font-size: 45pt;
  }
  p {
    position:relative; bottom:530px; 
    font-size:18pt;
  }